* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: auto;
  text-align: center;
  overflow-x: hidden;
}

body{
  border: 10px solid #FFFFFF;
  background-color: #99CCC9;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #004C47;
}


object {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: inherit;
}


#home {
  width: 16.73%;
  height: 30px;
  background-color: #99CCC9;
  border: none;
  float: left;
  margin-top: 1%;
  padding-left: 2.6%;
  outline: none;
}


#logo {
  width: 40%;
  height: 4.136%;
  margin: 8% auto;
}

#blocbox-logo {
  width: 32%;
  height: 10.8986%;
  margin: 10.8% auto 2.168% auto;
}

#blocbox-desktop {
  width: 100%;
}

#desktop-caption {
  margin-left: auto;
  margin-right: auto;
  margin-top: -12.53%;
  width: 63.84%;
  font-size: 2.13vw;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.063em;
  margin-bottom: 10.128%;
}

#hero ul {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 3.2vw;
  list-style-type: none;
  font-weight: 400;
  margin-bottom: 16%;
  line-height: 1.6em;
  letter-spacing: 0.119em;
}



#list-label {
  font-size: 2.6vw;
  margin-bottom: 5%;
}

#case-study-content {
  width: 64%;
  margin-left: auto;
  margin-right: auto;
}

#case-study-content h4 {
  text-align: left;
  width: 100%;
  height: 7.083%;
  letter-spacing: 0.213em;
  font-weight: 400;
  font-size: 3vw;
  margin-bottom: 2.5vw;
}


#case-study-content p{
  text-align: left;
  font-size: 2.6vw;
  color: #004C47;
  margin-bottom: 5%;
  line-height: 3.73vw;
  letter-spacing: 0.063em;
  font-weight: 300;
}

.view-prototype {
  margin: 8% auto 16% auto;
  width: 74%;
  background-color: #004C47;
  color: #9BECE7;
  margin-left: auto;
  margin-right: auto;
}

.view-prototype a {
  display: inline-block;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  font-size: 0.750em;
  text-decoration: none;
  font-weight: lighter;
  letter-spacing: .5vw;
}

#view-prototype-top {
  margin-bottom: 22%;
  margin-top: 12.08%;
}

#user-flows {
  margin-top: 12%;
  margin-bottom: 24%;
}

#style-guid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2%;
  margin-bottom: 13%;
}


#reits {
margin-top: -4%;
margin-bottom: -3%;
}

#summary {
  margin-top: 22%;
}

#signup {
  margin-top: 12%;
  margin-bottom: 4%;
}


#dashboard {
  margin-top: 12%;
  margin-bottom: 13%;
}

#account-info {
  margin-bottom: 23%;
}


footer {
  margin-top: 26%;
  height: auto;
  margin-bottom: 13.3%;
  overflow-y: hidden;
}

footer h3 {
  font-size: 3.73vw;
  margin-bottom: 8%;
  font-weight: 400;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer h4 {
  font-size: 2.6vw;
  margin-bottom: 6%;
  font-weight: 400;
}


footer ul {
  margin-bottom: 10%;
}


footer li {
  margin-left: auto;
  margin-right: auto;
  border: 0.125em solid #004C47;
  list-style-type: none;
  width: 31%;
  height: 4.5%;
  padding-top: .34vh;
  padding-bottom: .3vh;
  margin-bottom: 5.3%;
  font-size: 2.5vw;
}

footer a {
  text-decoration: none;
}


footer li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow:
               1px 1px #004C47,
               2px 2px #004C47,
               3px 3px #004C47;
       -webkit-transform: translateX(-3px);
       transform: translateX(-3px);
}



#scroll {
 font-size: 2.6vw;
 border-bottom: .05vh solid #004C47;
 letter-spacing: .75vw;
}

footer h5 {
  font-size: 2.5vw;
  font-weight: 300;
   margin-top: 10.6%;
}




@media(min-width: 640px) {

  #logo {
      width: 39.0625%;
      height: 2.5%;
      margin-top: 4.86%;
  }

  #home {
    width: 11.7%;
    height: 1.875%;
    margin-top: 2%;
  }

  #blocbox-logo {
    margin-bottom: 9.5%;
  }


  #case-study-content {
    width: 62.5%;
  }

  #case-study-content h4 {
    letter-spacing: 0.175em;
  }

  #case-study-content p {
    width: 100%;
    letter-spacing: 0.1875%;
    font-size: 1.875vw;
  }

  #list-label {
    margin-top: 15%;
    font-size: 2vw;
    margin-bottom: 9%;
  }

  #hero ul {
    width: 100%;
    margin-top: -6%;
    margin-bottom: 19.6%;
    font-size: 2.5vw;
    line-height: 1.6em;
  }

  #sign-up-caption {
    margin-bottom: 16.375%;
  }

  .view-prototype {
    width: 78%;
  }

  .view-prototype a {
    font-size: 2.5125vw;
  }

  #view-prototype-top {
    margin-top: 25%;
    margin-bottom: 39%;
  }

  #case-study-content h4 {
    width: 100%;
    margin-bottom: 5%;
  }

  #user-flows {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  #signup {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  #dashboard {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16.375%;
  }

  #desktop-caption {
    font-size: 1.5vw;
  }

  #account-info {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29.375%;
    margin-top: -4%;
  }

  #view-prototype-bottom {
    margin-bottom: -5%;
    margin-top: -4%;
  }

  footer {
    margin-bottom: 7.8125%;
  }

  footer ul {
    margin-bottom: 3.5%;
    }

    footer li {
      width: 23.43%;
      border: 0.10em solid #004C47;
      margin-bottom: 1.5%;
    }

    footer h5 {
      font-size: 1.875vw;
    }
  }

  footer li {
    width: 23.43%;
    border: 0.10em solid #004C47;
    margin-bottom: 1.5%;
  }

  footer h5 {
    font-size: 1.875vw;
  }

  #scroll {
    font-size: 1.875vw;
  }

  @media(min-width: 1440px) {

    .line-separator1 {
    width: 58%;
    border-bottom: 0.27vh solid #004C47;
    margin-right: auto;
    margin-left: auto;
    margin-top: -8.94%;
    margin-bottom: 8%;
   }

   .line-separator2 {
     width: 58.083vw;
     border-bottom: 0.27vh solid #004C47;
     margin-right: auto;
     margin-left: auto;
     margin-top: -12.94%;
     margin-bottom: 10%;
    }

    .line-separator3 {
      width: 58.083vw;
      border-bottom: 0.27vh solid #004C47;
      margin-right: auto;
      margin-left: auto;
      margin-top:-1%;
      margin-bottom: 11%;
    }

    .line-separator4 {
      width: 58.083vw;
      border-bottom: 0.27vh solid #004C47;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 12%;
    }

    .line-separator5 {
      width: 58.083vw;
      border-bottom: 0.27vh solid #004C47;
      margin-right: auto;
      margin-left: auto;
      margin-top: 12%;
      margin-bottom: -10.5%;
    }

    .line-separator6 {
      width: 58.083vw;
      border-bottom: 0.27vh solid #004C47;
      margin-right: auto;
      margin-left: auto;
      margin-top: -12%;
      margin-bottom: 16%;
    }

  #logo {
    width: 24.305%;
    height: 2.5%;
  }

  #blocbox-logo {
    width: 18.12%;
    height: 6.2%;
  }

  #desktop {
    width: 85.47%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
  }

  #home {
    width: 10.2%;
    height: 1.5%;
    margin-top: 1.25%;
  }

  #case-study-content {
    width: 65.5%;
    font-size: 1.24vw;
}

#hero li {
  font-size: 1.25vw;
}

#desktop-caption {
  font-size: 1vw;
  margin-top: -14%;
}

#hero ul {
  line-height: .875em;
  margin-top: -6.5%;
  margin-bottom: 17%;
}

#list-label {
  font-size: 1.2vw;
}

#case-study-content h4 {
  letter-spacing: .45em;
  font-size: 1.6vw;
  margin-bottom: 3.75%;
}


#case-study-content p {
  width: 100%;
  line-height: 2.20vw;
  font-size: 1.25vw;
}

.view-prototype {
  width: 42.4%;
  height: 3.125em;
}

.view-prototype a {
  font-size: 1.5em;
  padding-top: 0.45em;
}

#user-flows{
  width: 100%;
  margin-top: 6.75%;
  margin-bottom: 12%;
}

#style-guid {
  margin-top: -7.25%;
  margin-bottom: .25%;
}

#reits {
  margin-top: -9%;
  margin-bottom: -8%;
}

#view-prototype-top {
  margin-bottom: 25%;
  margin-top: 10%;
}

#view-prototype-bottom {
  margin-bottom: -19%;
}

#scroll {
  letter-spacing: .75vw;
}

footer h3 {
  font-size: 2.5vw;
  letter-spacing: 0.25vw;
}

footer h4 {
  font-size: 1.6vw;
}

footer li {
  width: 12%;
  font-size: 1.4vw;

}

#scroll {
  font-size: 1.3vw;
}

footer h5 {
  font-size: 1.25vw;
  margin-top: 6%;

 }

}


@media(min-width: 1680px) {
  #container {
    width: 80%;
    margin: 0 auto;
  }

  .view-prototype {
    width: 72%;
  }

}


@media(min-width: 2560px) {
  #container {
    width: 80%;
    margin: 0 auto;
  }

  .view-prototype {
    width: 72%;
  }
