* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: auto;
  text-align: center;
  overflow-x: hidden;
}

body {
  border: 10px solid #FFFFFF;
  background-color: #F8DACB;
  font-size: 16px;
  color: #004C47;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  height: auto;
}



object {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: inherit;
}

#logo {
  width: 40%;
  height: 15.51%;
}

#enveluv-logo {
  width: 26.6%;
  height: 19.26%;
  margin-left: auto;
  margin-right: auto;
}


#home {
  width: 16.73%;
  height: 3%;
  border: none;
  background-color: #F8DACB;
  float: left;
  margin-top: 1%;
  padding-left: 2.6%;
  outline: none;
}

#logo {
  width: 40%;
  height: 4.136%;
  margin: 8% auto;
}

#hero ul {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 3.2vw;
  list-style-type: none;
  font-weight: 400;
  margin-bottom: 16%;
  line-height: 1.6em;
  letter-spacing: 0.119em;
  color: #004C47;
}

#list-label {
  font-size: 2.6vw;
  margin-bottom: 5%;
}



#case-study-content {
  width: 64%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#case-study-content h4 {
  font-weight: 400;
  font-size: 3.2vw;
  line-height: 3.73vw;
  margin-bottom: 2.5vw;
  letter-spacing: 0.48vw;
  color: #004C47;
}

#case-study-content p {
  font-weight: 300;
  color: #004C47;
  font-size: 2.6vw;
  line-height: 3.73vw;
  letter-spacing: 0.26vw;
  margin-bottom: 6%;
}

.view-prototype {
  text-align: center;
  margin: 8% auto 16% auto;
  width: 87%;
  background-color: #004C47;
  color: #F8DACB;
  margin-left: auto;
  margin-right: auto;
}

.view-prototype a {
  display: inline-block;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  font-size: 0.750em;
  text-decoration: none;
  font-weight: lighter;
  letter-spacing: .5vw;
}

.img1 {
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -7.75%;
}

#img1-bottom {
  margin-top: -21%;

}


#view-prototype-top {
  margin-bottom: 23%;
}

.para {
  margin-bottom: 12.5%;
}

.box-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;
}

#box-para {
  width: 64%;
  font-weight: 300;
  color: #004C47;
  font-size: 2.6vw;
  line-height: 3.73vw;
  letter-spacing: 0.26vw;
  margin-bottom: 8%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}


.box {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 26vw;
  height: 26vw;
  border: 0.8vw solid #004C47;
  background-color: #FEE9DE;
  color: #004C47;
  letter-spacing: 0.293vw;
  line-height: 4.26vw;
}

.box h4 {
  font-size: 6.4vw;
  font-weight: 300;
  padding-top: 0.9vw;
  padding-bottom: 1.5vw;
}

.box h5 {
  font-size: 4.8vw;
  font-weight: 300;
  padding-top: 0.9vw;
}

.box p {
  font-size: 2.9vw;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 1.5vw 0 1.5vw;
  font-weight: 400;

}

#table1 table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 2vw 0;
}

#table2 table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 4vw 0;
}

#and {
  text-align: center;
  font-size: 6vw;
  margin-left: auto;
  margin-right: auto;
  color: #004C47;
  font-weight: 400;
}



.section-end {
  margin-bottom: 18%;
}

.img-end {
  margin-bottom: 9%;
}

footer {
  margin-top: 26%;
  height: auto;
  margin-bottom: 13.3%;
  color: #005B4B;
  overflow-y: hidden;
}


footer h3 {
  font-size: 3.73vw;
  margin-bottom: 8%;
  font-weight: 400;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer h4 {
  font-size: 2.6vw;
  margin-bottom: 6%;
  font-weight: 400;
}


footer ul {
  margin-bottom: 10%;
}


footer li {
  margin-left: auto;
  margin-right: auto;
  border: 0.125em solid #004C47;
  list-style-type: none;
  width: 31%;
  height: 4.5%;
  padding-top: .34vh;
  padding-bottom: .3vh;
  margin-bottom: 5.3%;
  font-size: 2.5vw;
}


footer li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow:
               1px 1px #004C47,
               2px 2px #004C47,
               3px 3px #004C47;
       -webkit-transform: translateX(-3px);
       transform: translateX(-3px);
}

footer a {
  text-decoration: none;
}

#scroll {
 font-size: 2.6vw;
 border-bottom: .05vh solid #004C47;
 letter-spacing: .75vw;
}

footer h5 {
  font-size: 2.5vw;
  font-weight: 300;
   margin-top: 10.6%;
}





/*Mobile*/

#img-mobile {
 display: block;
}


/*Medium*/

#img-medium {
 display: none;
}

/*Full*/

#img-full {
  display: none;
}


@media(min-width: 640px) {


  #logo {
      width: 39.0625%;
      height: 2.5%;
      margin-top: 4.86%;
  }

  #home {
    width: 11.7%;
    height: 1.875%;
    margin-top: 2%;
  }

  #enveluv-logo {
    margin-bottom: 7.8%;
  }

  #case-study-content {
    width: 62.8125%;
  }

  #list-label {
    font-size: 2vw;
    margin-bottom: 9%;
  }

  #hero ul {
    width: 100%;
    margin-top: -6%;
    margin-bottom: 19.6%;
    font-size: 2.5vw;
    line-height: 1.6em;
  }


  #case-study-content h4 {
    font-size: 3vw;
  }


  #case-study-content p {
    font-size: 1.875vw;
    letter-spacing: .075em;
  }

  #box-para p {
    font-size: 1.875vw;
    letter-spacing: .075em;
  }

  .view-prototype {
      width: 74%;
  }

  .view-prototype a {
    font-size:1.2em;
  }

  #view-prototype-bottom {
    margin-bottom: 15.625%;
  }

  footer {
    margin-bottom: 7.8125%;
  }

  footer ul {
    margin-bottom: 3.5%;
    }

    footer li {
      width: 23.43%;
      border: 0.10em solid #004C47;
      margin-bottom: 1.5%;
    }

    footer h5 {
      font-size: 1.875vw;
    }

  footer li {
    width: 23.43%;
    border: 0.10em solid #004C47;
    margin-bottom: 1.5%;
  }

  footer h5 {
    font-size: 1.875vw;
  }

  #scroll {
    font-size: 1.875vw;
  }

  /*Mobile*/

  #img-mobile {
   display: none;
  }


  /*Medium*/

  #img-medium {
   display: block;
  }

  /*Full*/

  #img-full {
   display: none;
  }
}

@media(min-width: 1440px) {


 #case-study-content{
   margin-top: 5.94%;
    width: 62.569%;
 }

  #desktop{
   width: 85.47%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 3%;
   }

 .line-separator1 {
   width: 45vw;
   border-bottom: 0.20vw solid #004C47;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 4%;

 }

 .line-separator2 {
   width: 45vw;
   border-bottom: 0.20vw solid #004C47;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 9%;
   margin-top: -6.9%;

 }

 .line-separator3 {
   width: 45vw;
   border-bottom: 0.20vw solid #004C47;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 30%;
   margin-top: -25%;
   }

 .line-separator4 {
   width: 45vw;
   border-bottom: 0.20vw solid #004C47;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 8%;
   margin-top: -7%;

 }

 .line-separator5 {
   width: 45vw;
   border-bottom: 0.20vw solid #004C47;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 8%;
   margin-top: -6.75%;

 }

 .line-separator6 {
   width: 45vw;
   border-bottom: 0.20vw solid #004C47;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 8%;
   margin-top: -14.75%;
 }

 .line-separator7 {
   width: 45vw;
   border-bottom: 0.20vw solid #004C47;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 28%;
   margin-top: -9%;
 }




 #logo {
 width: 24.305%;
 height: 2.5%;
 }

 #home {
   width: 10.2%;
   height: 1.5%;
   margin-top: 1.15%;
 }

 #enveluv-logo {
   width: 14.4%;
   height: 10.4%;
 }


 #list-label {
   font-size: 1.2vw;
 }

#hero ul {
 line-height:.875em;
   margin-top: -6.5%;
   margin-bottom: 6.9%;
 }

 #hero li {
   font-size: 1.25vw;
 }

 #case-study-content h4 {
   font-size: 1.6vw;
 }

 #case-study-content p {
   font-size: 1.25vw;
   line-height: 1.75em;
 }

 .view-prototype {
   width: 42.4%;
   height: 3.125em;
 }

 .view-prototype a {
   font-size: 1.5em;
   padding-top: 0.45em;
 }

 .box {
   width: 18vw;
   height: 18vw;
   border: 0.5vw solid #004C47;
 }

 .box p {
   line-height: 3.5vh;
   font-size: 1.6vw;
 }

 .box h4 {
   font-size: 3.3vw;
   line-height: 2.5vh;
 }

 .box h5 {
   font-size: 2.5vw;
   line-height: 2.5vh;
 }

 #box-para p{
   font-size: 1.25vw;
   line-height: 1.75em;
 }

 #and {
   font-size: 4.6vw;
 }

 footer {
   margin-top: 13.8%;
 }



 footer h3 {
   font-size: 2.5vw;
   letter-spacing: 0.25vw;
 }


 footer li {
     width: 12%;
     font-size: 1.4vw;
 }

 #scroll {
   font-size: 1.3vw;
 }

 footer h5 {
   font-size: 1.25vw;
   margin-top: 6%;
 }


 /*Mobile*/

 #img-mobile {
  display: none;
 }


 /*Medium*/

 #img-medium {
  display: none;
 }

 /*Full*/

 #img-full {
   display: block;
 }

}



@media(min-width: 1680px) {
  #container {
    width: 80%;
    margin: 0 auto;
  }

  .box-container {
    width: 100%;
  }


  .view-prototype {
    width: 50%;
  }

  .box {
    width: 18vw;
    height: 18vw;
  }

  .box p {
    line-height: 3.5vh;
    font-size: 1.6vw;
  }

  .box h4 {
    font-size: 3.3vw;
    line-height: 2.5vh;
  }

  .box h5 {
    font-size: 2.5vw;
    line-height: 2.5vh;
  }

}


@media(min-width: 2560px) {
  #container {
    width: 80%;
    margin: 0 auto;
  }

  .box {
    width: 18vw;
    height: 18vw;
  }

  .box p {
    line-height: 5.5vh;
    font-size: 1.6vw;
  }

  .box h4 {
    font-size: 3.3vw;
    line-height: 2.5vh;
  }

  .box h5 {
    font-size: 2.5vw;
    line-height: 2.5vh;
  }


  .view-prototype {
    width: 35%;
  }


}
