* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: auto;
  text-align: center;
  overflow-x: hidden;
}

body{
  border: 10px solid #FFFFFF;
  background-color: #FEE9DE;
  font-size: 16px;
  color: #004C47;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}


object {
  display: block;
  width: 100%;
  height: auto;
}

a {
color: #004C47;
text-decoration: none;
outline: 0;
}

a:visited {
  color: #004C47;
  text-decoration: none;
  font-weight: lighter;
  outline: 0;
}

#logo {
  display: inline-block;
  width: 40%;
  height: 4.14%;
  text-align: center;
  margin-top: 1.875em;
}

#hero {
  width: 64%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.781em;
}

#about {
  display: inline-block;
  text-align: left;
}

#about h4 {
  font-weight: 400;
}

#hero p {
  font-size: 0.625em;
  letter-spacing: 1.5px;
  line-height: 0.875em;
}

#hero p:nth-child(2) {
  line-height: 0.875em;
  margin-top: 1.063em;
  margin-bottom: 1em;
  line-height: 1.5em;
}

#hero p:nth-child(3) {
  margin-bottom: 1em;
  line-height: 1.5em;
}

#hero p:nth-child(4) {
  line-height: 1.5em;
}

#nav {
margin-top: 2.5em;
margin-bottom: 5.25em;
}

#nav li {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  list-style-type: none;
  margin-top: 1.25em;
}

#nav a {
  font-size: 0.875em;

}

#nav div {
  width: 9.063em;
  height: 1.875em;
  display: table-cell;
  vertical-align: middle;
  border: 0.125em solid #004C47;
  font-size: 0.875em;
  letter-spacing: 1.4px;
}

#nav div:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow:
               1px 1px #004C47,
               2px 2px #004C47,
               3px 3px #004C47;
       -webkit-transform: translateX(-3px);
       transform: translateX(-3px);
}

#projects {
  width: 72.53%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.125em;
}

#enveluv {
  margin-bottom: 3.75em;
}

#work h3{
  text-align: left;
  display: block;
  border-bottom: 0.125em solid #004C47;
  width: 14.13%;
  height: 5.07%;
  margin-left: 1em;
  letter-spacing: 1.25px;
  font-size: 0.875em;
  font-weight: 400;
  padding-right: 1em;
  margin-bottom: 1.188em;
  padding-bottom: 0.25em;
}

#projects object{
  margin-bottom: -1.25em;
}

#projects h2 {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 1.25px;
  text-align: left;
  padding-left: 1.063em;
  margin-bottom: .75em;
}

#projects p {
  width: 78.66%;
  font-size: 0.625em;
  text-align: left;
  margin-left: 2.65em;
  letter-spacing: 1.25px;
  margin-bottom: 1.188em;
}


#view-case-study{
  font-size: 0.625em;
  margin-left: -40.13%;
  border-bottom: .5px solid #004C47;
  letter-spacing: 1px;
}

footer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  width: 65.07%;
}

footer h3 {
  font-size: 0.875em;
  font-weight: 400;
  margin-bottom: 1.875em
}

footer h4 {
  font-size: 0.625em;
  font-weight: 400;
}

footer div {
  margin: 0 auto 0 auto;
  border: 1px solid #004C47;
  width: 26.67%;

}

footer li {
  list-style-type: none;
  margin-top: 1em;
}

footer ul {
  margin-bottom: 1.875em;
}

.footer-contact {
    font-size: 0.625em;
    font-weight: 400;
    width: 7.950em;
    height: 1.5em;
    border: 1px solid #004C47;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: 1.5px;
}

.footer-contact:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow:
               1px 1px #004C47,
               2px 2px #004C47,
               3px 3px #004C47;
       -webkit-transform: translateX(-3px);
       transform: translateX(-3px);
}


footer h5 {
  font-size: 0.525em;
  font-weight: 400;
  margin-bottom: 2.500em;
  margin-top: 3.5em;
}

#scroll {
  font-size: 0.625em;
  border-bottom: .5px solid #004C47;
}


@media(min-width: 640px) {
  

    #hero {
      width: 25em;
    }

    #about {
      width: 25em;
      line-height: 1.063em;
    }

    #about p:nth-child(2){
      margin-bottom: 2.750em;
    }

    #about p:nth-child(3){
      margin-bottom: 1.750em;
    }

    #nav {
      margin-top: 3.125em;
    }

    #nav div {
      width: 12em;
      height: 2.25em;
      font-size: 1.125em;
      border: 2px solid #004C47;
    }

    #work  {
      font-size: 1.5em;
      margin-left: -.75em;
    }



    #projects {
      width: 25.125em;
    }

    #projects object {
      margin-top: 2.5em;
      width: 25em;
      margin-left: auto;
      margin-right: auto;
    }

    #enveluv {
      width: 25em;
      text-align: center;
    }

    #projects h2 {
      padding-left: 0;
      font-size: 3em;
      text-align: center;
    }

    #projects p {
      width: 25em;
      font-size: 0.750em;
      text-align: center;
      margin-left: 3.5em;
      margin-top: -1.75em;
    }

    #project-para-div {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-left: .5em;
    }

    #view-case-study {
      text-align: center;
      margin-left: 0;
      font-size: 0.875em;
    }

    footer {
      margin-bottom: 3em;
    }

    footer h3 {
      font-size: 1.5em;
    }

    footer h4 {
      font-size: 1em;
      margin-bottom: .75em;
    }

    footer a {
      font-size: 1.75em;
    }

    footer ul {
      margin-bottom: 1.2em;
    }

    footer h5 {
      margin-top: 2.5em;

    }

    #scroll {
      margin-top: 1.25em;
      font-size: 0.750em;
    }
  }

  @media(min-width: 1440px) {
    #logo {
      width: 21.875em;
      height: 2.262em;
    }

    #hero {
      width: 56.250em;
      height: 26.375em;
      margin-bottom: 12.500em;
    }

    #about {
      margin-top: 11.488em;
      width: 56.250em;
      height: 26.375em;
    }

    #about h4 {
      font-size: 2.125em;
      margin-bottom: 3.063em;
    }

    #about p {
      font-size: 1.125em;
    }

    #about p:nth-child(3) {
      margin-top: -1em;
    }

    #about p:nth-child(4) {
      margin-top: -.75em;
    }


    #nav {
      display: table;
      margin: 0 auto;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.5em;
    }

    #nav ul {
      margin-left: auto;
      margin-right: auto;
    }

    #nav div {
      width: 9em;
      height: 1.5em;
      border: 0.125em solid #004C47;
    }

    #nav li {
      display: inline;
      margin-right: 0.9375em;
      margin-left: 0.9375em;
    }


    #nav a {
    }

    #work {
      font-size: 2.250em;
      margin-left: -1.5em;

    }



    #projects {
      margin-top: 26.5em;
      width: 53.125em;
      height: 110.188em;
    }

    #projects object {
      width: 50.000em;
      height: 47.250em;
  }

  #enveluv {
    width: 50.000em;
    margin-top: -2.73em;
    margin-left: auto;
    margin-right: auto;
  }

  #blocbox {
    width: 50.000em;
    margin-left: auto;
    margin-right: auto;
  }

  #projects h2 {
    font-size: 4em;
    margin-top: -2.25em;
  }

  #project-para-div {
    margin-left: 0;
  }


  #projects p{
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.125em;
    margin-bottom: 4.313em;
  }

  #view-case-study {
    font-size: 1.5em;
    border-bottom: 0.094em solid #004C47;
  }

  footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16.5em;
    margin-bottom: 6.250em;
    width: 50em;
  }

  footer h3 {
    font-size: 2.250em;
    letter-spacing: 0.125em;
  }

  footer h4 {
    font-size: 1.5em;
    margin-bottom: 1.75em;
  }

  footer li{
    font-size: 1.5em;
  }

  footer ul {
    margin-bottom: 4.188em;
  }

  .footer-contact {
    border: 0.125em solid #004C47;
  }

  #scroll {
    font-size: 1.5em;
    letter-spacing: 0.425em;
  }

  footer h5 {
    margin-top: 4.188em;
    font-size: 1.125em;
  }
}
